body{
    background-color: blanchedalmond;
}

h1, h2{
    color: brown;
    text-align: center;
    font-size: 60px;
}

table, th, td {
    border: 1px solid;
    text-align: center;
  }
 
img{
    width: 500px;
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section, table{
    text-align: center;
}

